.name-card {
  text-align: center;
}

.name-card-img {
  width:　400px;
  height:　400px;
  position: absolute;
  padding-left: 30px;
  transform: translate(0, 30%);
  display: flex;
}

.name {
  padding: 3% 5% 5% 30%;
}

.ruby {
  font-size: 50px;
  color: #364420;
  font-family: 'arial black';
  background:linear-gradient(transparent 98%, #ff7300 2%);
}

.my-name {
  font-size: 100px;
  color: #364420;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: oblique;
  background:linear-gradient(transparent 99%, #ff7300 1%);
}

.nick-name {
  color: #364420;
  font-size: 50px;
  padding-top: 20px;
  font-family: 'arial black';
  background:linear-gradient(transparent 99%, #ff7300 1%);
}

@media screen and (max-width: 1110px) {
  .name-card-img {
    width: 250px;
    height: 250px;
    transform: translate(0, 10%);
    padding-left: 5px;
  }

  .ruby {
    font-size: 35px;
  }

  .my-name {
    font-size: 75px;
  }

  .nick-name {
    font-size: 35px;
  }
}

@media screen and (max-width: 992px) {
  .name-card-img {
    width: 200px;
    height: 200px;
    transform: translate(0, 10%);
    padding-left: 5px;
  }

  .ruby {
    font-size: 25px;
  }

  .my-name {
    font-size: 50px;
  }

  .nick-name {
    font-size: 25px;
  }
}

@media screen and (max-width: 755px) {
  .name-card-img {
    width: 140px;
    height: 140px;
    transform: translate(0, 15%);
  }

  .ruby {
    font-size: 20px;
  }

  .my-name {
    font-size: 40px;
  }

  .nick-name {
    font-size: 20px;
  }
}

@media screen and (max-width: 610px) {
  .name-card-img {
    width: 100px;
    height: 100px;
    transform: translate(0, 15%);
  }

  .ruby {
    font-size: 15px;
  }

  .my-name {
    font-size: 30px;
  }

  .nick-name {
    font-size: 15px;
  }
}

@media screen and (max-width: 520px) {
  .name-card-img {
    width: 80px;
    height: 80px;
    transform: translate(0, 25%);
  }

  .ruby {
    font-size: 12px;
  }

  .my-name {
    font-size: 24px;
  }

  .nick-name {
    font-size: 12px;
  }
}